*{
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #c4ca96;
    color: #2c373a;
}

header{
    background-color: #607a97;
    padding: 16px;
}

header aside {
    margin: 0 auto;
    display: flex;

}

img{
    margin-right: 16px;
    border-radius: 50%;
    border-style: outset;
    border-width: 7px;
    border-color: #80926a;
}

button {
    background-color: 	#887a7d;
    border: 40;
    border-color: #80926a;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #2c373a;
    font-size: 14px;
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

.ventana-emergente{
    display: flex;
    background-color: #c4ca96;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;

}
.show {
    pointer-events: auto;
    opacity: 1;
}

.ventana{
    background-color: #607a97;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.ventana p{
    opacity: 0.9;
    font-size: 17px;
}

header, section{
    width: 960px;
    margin: 0 auto;
    display: flex;
}

section{
    background-color: #887a7d;
    padding: 16px;
    height: 100%;
    font-family: 'Oswald', sans-serif; 
}

article{
    width: 50%;
}

article ul li {
    display: flex;
    
}

p {
    padding-left: 15px;
    margin: 0;
}

